.animals-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  max-width: 400px;
  margin: 20px;
}

.animals-list-item-action-container {
    display: flex;
    gap: 10px;
}

.animals-list-item {
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
  color: #333;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.animals-list-item:last-child {
  border-bottom: none;
}

.animals-empty-list {
  padding: 15px;
  text-align: center;
  color: #888;
  font-style: italic;
  background-color: #fff;
}
